.App {
  font-family: sans-serif;
  text-align: center;
}

.Logo {
  height: 300px;
}

.nome {
  color: #fe7e02;
  transition: 0.5s;
  cursor: pointer;
}

.nome:hover {
  color: #3a3a42;
}

.ftr {
  border-top: 1px solid #fe7e02;
  margin-top: 20px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  color: #fe7e02;
}
